[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pycryptodome = "*"
protobuf = "*"
redis = "*"
loguru = "*"

[scripts]
distsecretc = "python distsecret/client.py"
distsecretd = "python distsecret/server.py"
