[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pycryptodome = "*"
protobuf = "*"
redis = "*"
loguru = "*"

[scripts]
secaislec = "python secaisle/client.py"
secaisled = "python secaisle/server.py"
